<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HouseManageBackground.Properties.Settings.housemanagementConnectionString"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=housemanagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HouseManageBackground.Properties.Settings.fcglConnectionString"
            connectionString="Data Source=.;Initial Catalog=fcgl;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>